.complete-screen {
  display: flex;
}

.mainPage {
  width: 60%;
  /* margin-left: 10%; */
}

body {
  font-family: "Lato", sans-serif;
  color: black;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #eabd6c;
  box-shadow: gray 0 1px 10px;
  margin-bottom: 1.5rem;
  width: 100%;
}

.heading_main {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  color: #ffffff;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: black;
  box-shadow: #a5a2a2 0 3px 2px;
  margin: 0 0.5rem;
  width: 7rem;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: none;
}

.sideBar {
  box-sizing: border-box;
  width: 22%;
  padding: 2rem;
  padding-top: 0;
  font-size: 1.2rem;
  border-right: 0.5rem solid lightgray;
  margin-right: 3rem;
}

.sidebar-heading {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
}

li {
  margin-bottom: 1rem;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-left: 1rem;
  width: 8rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border: solid 1px #eabd6c;
}

#length {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-left: 1rem;
  width: 4rem;
}
#length:focus {
  outline: none;
  border: solid 1px #eabd6c;
}

#form-container {
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 5px;
}
.screen {
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 5px;
}
.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feed {
  width: 80%;
  padding: 1rem;
}

#form-container h3 {
  text-align: center;
  padding: 1rem 0.25rem;
  margin: 0;
  margin-top: 0.5rem;
  background-color: #eabd6c;
}

.form-section-text {
  margin: 1rem auto;
}

.screen h3 {
  text-align: center;
  padding: 1rem 0.25rem;
  background-color: #eabd6c;
}

.form-section {
  padding: 0 2rem 0rem 2rem;
  width: 70%;
}

.button-container,
.start-button {
  padding: 0 2rem 2rem 2rem;
  width: 70%;
  margin: auto;
}

.marker-form-container h3 {
  display: inline;
  font-weight: normal;
}

.marker-form-container input {
  width: 4rem;
}

.marker-form-container button {
  background-color: #f7f7f7;
  margin-left: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

i {
  margin: 0.5rem;
  font-size: 1.2rem;
  color: green;
}

.start-button {
  display: flex;
  justify-content: center;
}

.start-button button {
  width: 12rem;
}

.flexbox {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
}

/* Scrollbar */
/* .sideBar::-webkit-scrollbar {
  width: 7px;
} */

/* Track */
/* .sideBar::-webkit-scrollbar-track {
  background: #fff;
} */

/* Handle */
/* .sideBar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
} */

/* Handle on hover */
/* .sideBar::-webkit-scrollbar-thumb:hover {
  background: gray;
}  */

/* Media query */

@media (max-width: 1147px) {
  .bottom > div {
    margin: 1rem auto;
    width: 70%;
  }

  .bottom {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .buttons_panel {
    flex-direction: column;
  }

  .buttons_panel > div {
    margin: 1rem auto;
    width: 70%;
  }
}

@media (max-width: 704px) {
  .buttons_panel > div,
  .bottom > div {
    margin: 1rem auto;
    width: 90%;
  }

  .bottom > div {
    flex-direction: column;
  }

  .bottom > div > div {
    width: 100%;
    margin: auto;
  }
}

/* .maker-form {
    display: flex;
  } */

/* body {
    font-family: "Lato", sans-serif;
  }
  
  .mainPage {
    display: flex;
  }
  
  .mainPage > div {
    width: 50%;
  }
  
  .mainPage i {
    margin: 0.5rem;
    font-size: 1.2rem;
    color: green;
  }
  
  .mainPage button,
  .button-container button {
    background-color: #697172;
    color: white;
  }
  
  .section {
    padding: 2rem; */
/* margin: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 5px;
    line-height: 2rem;
  } */
/* 
  .feed {
    width: 40vw;
    height: 40vh;
    object-fit: cover;
  }
  
  .noFeed-pose,
  .noFeed-camera {
    width: 40vw;
    height: 40vh;
    border: solid 1px black;
  }
  
  .noFeedText-pose,
  .noFeedText-camera {
    text-align: center;
    transform: translate(0, 8rem);
    font-size: 2rem;
  }
  
  .start-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-tick {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
  }
  
  /* Form styling */
/* 
  .form-container {
    background-color: #f7f7f7;
    border-radius: 0 0 5px 5px;
    max-width: 925px;
    margin: 1rem auto;
  }
  
  .form-container h3 {
    text-align: center;
    background-color: #eabd6c;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
  }
  
  .form-container h4 {
    padding-bottom: 1rem;
    border-bottom: 1px dashed gray;
  }
  
  .form {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container > * {
    margin: 1rem 1rem 2rem 1rem;
    padding: 0.5rem 2rem;
    width: 150px;
  } */
