.complete-screen {
  display: flex;
}

.mainPage {
  width: 60%;
  /* margin-left: 10%; */
}

body {
  font-family: "Lato", sans-serif;
  color: black;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #eabd6c;
  box-shadow: gray 0 1px 10px;
  margin-bottom: 1.5rem;
  width: 100%;
}

.header-button{
  box-shadow: none;
  background-color: transparent;
  border: solid 1px white;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  display: none;
}

.heading_main {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  color: #ffffff;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: black;
  box-shadow: #a5a2a2 0 3px 2px;
  margin: 0 0.5rem;
  width: 7rem;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: none;
}

.sideBar {
  box-sizing: border-box;
  width: 25%;
  padding: 2rem;
  padding-top: 0;
  font-size: 1.2rem;
  border-right: 0.5rem solid lightgray;
  margin-right: 3rem;
}

.sidebar-heading {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
}

li {
  margin-bottom: 1rem;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-left: 1rem;
  width: 8rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border: solid 1px #eabd6c;
}

#length {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-left: 1rem;
  width: 4rem;
}
#length:focus {
  outline: none;
  border: solid 1px #eabd6c;
}

#form-container {
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 5px;
}
.screen {
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 5px;
}
.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feed {
  width: 80%;
  padding: 1rem;
}

#form-container h3 {
  text-align: center;
  padding: 1rem 0.25rem;
  margin: 0;
  margin-top: 0.5rem;
  background-color: #eabd6c;
}

.form-section-text {
  margin: 1rem auto;
}

.screen h3 {
  text-align: center;
  padding: 1rem 0.25rem;
  background-color: #eabd6c;
}

.form-section {
  padding: 0 1rem 0rem 1rem;
  width: 70%;
}

.button-container,
.start-button {
  padding: 0 2rem 2rem 2rem;
  width: 70%;
  margin: auto;
}

.marker-form-container h3 {
  display: inline;
  font-weight: normal;
}

.marker-form-container input {
  width: 4rem;
}

.marker-form-container button {
  background-color: #f7f7f7;
  margin-left: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

i {
  margin: 0.5rem;
  font-size: 1.2rem;
  color: green;
}

.start-button {
  display: flex;
  justify-content: center;
}

.start-button button {
  width: 12rem;
}

.flexbox {
  display: flex;.c
  align-content: space-between;
  justify-content: space-evenly;
}

/* Media query for calibrate.html */
@media (max-width: 990px) {
  .form input {
    width: 4rem;
  }
}

@media (max-width: 800px) {
  .sideBar {
    display: none;
  }

  .header-button{
    display: inline;
  }

  .mainPage{
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 525px){
  .flexbox{
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .flexbox>div{
   margin: auto;  
  }
}

@media (max-width: 470px){
  .button-container{
    width: 80%;
    margin: auto;
    padding: 1rem 0 ;
  }

  .marker-form-container button, .button-container button{
    width: 5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 396px){
  .marker-form-container input{
    margin-left: 1.5rem;
  }
}