body {
  font-family: "Lato", sans-serif;
  color: black;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #eabd6c;
  box-shadow: gray 0 1px 10px;
  margin-bottom: 1.5rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.transparent-button {
  background-color:#586162;
  color: white;
  box-shadow: none;
  border: solid 1.2px white;
  border-radius: 5px;
  margin: 1rem 0;
  margin-right: 2rem;
  position: absolute;
  top: 5%;
  left: 2rem;
}

.heading_main {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  color: #ffffff;
}

/* First half */

.main_screen {
  margin: auto;
  width: 90vw;
}

.video_feed {
  width: 100%;
  height: 60vh;
  object-fit: fill;
  border-radius: 5px;
}

.noFeed {
  width: 100%;
  height: 60vh;
  border-radius: 5px;
  border: solid 1px black;
}

.noFeedText {
  text-align: center;
  transform: translate(0, 11rem);
  font-size: 2rem;
}

.buttons_panel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 1rem;
  border-bottom: 1px dashed grey;
}

.buttons_panel button {
  width: 40%;
}

.button_section {
  background-color: #586162;
  color: white;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  border: solid 1px grey;
  align-items: stretch;
  justify-content: center;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}
.down-icon {
  visibility: hidden;
  position: absolute;
}
.button_container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f7f7f7;
  color: black;
  box-shadow: #a5a2a2 0 3px 2px;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: none;
}

button:disabled {
  color: grey;
}

/* The distance input */
#dist {
  width: 7rem;
  height: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

#dist:disabled {
  background-color: #cac9c9;
}

/* The auto calibration part */
.button-text {
  margin: 0;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.auto-calib {
  display: flex;
  align-items: center;
}

/* Lower half */

.bottom {
  padding-top: 1.5rem;
  margin: 1rem 2rem;
  display: flex;
}

.bottom > div {
  display: flex;
  align-items: stretch;
  width: 50%;
  margin: 0 1rem;
}

.bottom_section_heading-1,
.bottom_section_heading-2 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #586162;
  margin: 0;
  border: solid 1px white;
  width: 30%;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px 0 0 5px;
}

.text_part {
  background-color: #eabd6c;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  border: solid 1px white;
  text-align: center;
  padding: 1.5rem 1rem;
  padding-top: 1rem;
  border-radius: 0 5px 5px 0;
  line-height: 2rem;
  width: 70%;
}

.button_section_text {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem 0;
}

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f7f7f7c9;
  padding: 1.2rem;
  letter-spacing: 1.5px;
  position: relative;
}

footer h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

footer a {
  text-decoration: none;
  color: #f7f7f7c9;
  /* position: absolute;
  right: 50px;
  top: 40%; */
}

/* Media query 
To make Page Responsive to different screen sizes */
@media (min-width: 1000px) {
  #grid-view {
    display: flex;
    margin: 0 2rem;
    align-content: center;
    justify-content: center;
  }

  .main_screen {
    width: 60vw;
  }

  .transparent-button {
    visibility: hidden;
  }

  .buttons_panel {
    flex-direction: column;
    width: 30vw;
    border-bottom: none;
    margin-left: 2rem;
  }
  .buttons_panel > div {
    width: 80%;
  }
}
@media (max-width: 1130px) {
  #dist {
    width: 5rem;
  }
}

@media (max-width: 1100px) {
  .bottom > div {
    margin: 1rem auto;
    width: 90%;
  }

  .button-now {
    margin-left: 0.3rem;
  }

  .text-change {
    padding-top: 0;
    padding-bottom: 8px;
  }

  .bottom {
    flex-direction: column;
  }
}

@media (max-width: 942px) {
  #dist {
    width: 3.5rem;
  }
  .heading_main {
    transform: translateX(3rem);
  }
}

@media (max-width: 850px) {
  .buttons_panel {
    flex-direction: column;
  }

  .transparent-button {
    width: 8rem;
    top: 8%;
    margin: 0;
  }

  .text-change {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .buttons_panel > div {
    margin: 1rem auto;
    width: 70%;
  }
  #dist {
    width: 6rem;
  }
}

@media (max-width: 704px) {
  .buttons_panel > div,
  .bottom > div {
    margin: 1rem auto;
    width: 90%;
  }

  .transparent-button {
    width: 6rem;
    top: 18%;
    padding: 4px;
    font-size: 1rem;
  }

  .heading_main {
    font-size: 1.8rem;
  }

  .video_feed {
    height: 50vh;
  }
  .noFeed {
    height: 50vh;
  }

  .bottom > div {
    flex-direction: column;
  }
}

@media (max-width: 704px) {
  .video_feed {
    height: 40vh;
  }
  .noFeed {
    height: 40vh;
  }

  .text_part {
    padding: 1rem 1rem;
  }
  .text {
    margin-top: 0;
  }

  .buttons_panel > div,
  .bottom > div {
    margin: 1rem auto;
    width: 80%;
  }

  .bottom > div {
    width: 90%;
  }

  .bottom > div > div {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .transparent-button {
    left: 1rem;
  }
  .heading_main {
    transform: translateX(3rem);
  }
  .bottom_section_heading-1 > h3,
  .bottom_section_heading-2 > h3 {
    margin: 1rem auto;
  }
}

@media (max-width: 550px) {
  .transparent-button {
    left: 0.3rem;
  }
}

@media (max-width: 490px) {
  .transparent-button {
    width: 4rem;
    top: 3px;
  }
  .heading_main {
    transform: translateX(2rem);
  }

  .button_section {
    padding: 0;
    position: relative;
  }

  .down-icon {
    visibility: visible;
    position: absolute;
    top: 1rem;
    right: 5%;
  }
  .button_container {
    display: none;
  }
}

@media (max-width: 460px) {
  .buttons_panel > div {
    margin: 0.5rem auto;
  }
  .text-change {
    width: 80%;
    margin: 0 auto;
  }
  .heading_main {
    width: 80%;
  }
  .transparent-button {
    width: 5rem;
    top: 1rem;
    left: 1rem;
  }
}

@media (max-width: 350px) {
  .transparent-button {
    left: 0.5rem;
    width: 4rem;
  }
  .down-icon {
    right: 2%;
  }
}
