<!DOCTYPE html>
<html>
  <head>
    <title>Calibrate</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='calibrate.css') }}"
    /> -->

    <!-- to work without server -->
    <link rel="stylesheet" type="text/css" href="../static/calibrate.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
      jQuery(document).ready(function () {
        /* Open lightbox on button click */
        $(".lightbox-toggle").click(function () {
          $(".backdrop")
            .animate({ opacity: ".50" }, 300, "linear")
            .css("display", "block");
          $(".box").fadeIn();
        });

        /* Click to close lightbox */
        $(".close, .backdrop").click(function () {
          $(".backdrop").animate({ opacity: "0" }, 300, "linear", function () {
            $(".backdrop").css("display", "none");
          });
          $(".box").fadeOut();
        });
      });
    </script>
  </head>
  <body>
    <header class="header">
      <!-- Initially invisible button -->
      <button class="header-button lightbox-toggle">Instructions</button>
      <div class="backdrop"></div>

      <div class="box">
        <div class="close">x</div>
        <ul>
          <li>
            Enter the dimensions of the aruco tag in the space provided. If you have used the page we have given then let the default 
          </li>
          <li>
            Now stick the Aruco tags on the floor in the field of view of the
            camera and click on the start calibration button. The system will
            then analyse the Aruco tags and show the results in a form below.
            Wait till the results appear.
          </li>
          <li>
            Look at the values shown in the form and check whether they look
            accurate. If not then edit the values after clicking on the edit
            button and then click confirm to confirm the values. If the values
            are accurate already then directly click on Confirm to use them for
            further calculations
          </li>
        </ul>
        <h3>The camera calibration is complete!</h3>
      </div>
      <h1 class="heading_main">Calibration</h1>
    </header>

      <!-- Main Screen -->
      <div class="mainPage">
        <div class="marker-form-container">
          <h3>Dimensions of the Marker:</h3>
          <input type="text" id="marker-input" name="length" />
          <label for="dist">(in cm)</label>
          <div>
            <button class="button marker-edit" id="marker-edit">Edit</button>
            <button class="button marker-edit" id="marker-confirm">
              Confirm
            </button>
          </div>
        </div>
        <div class="screen">
          <h3>
            Camera Calibration
          </h3>
          <div class="main-screen">
            <img
              class="feed"
              id="feed-cam"
              src="img.jpg"
            />

            <div class="start-button">
              <button id="start-calib">Start Calibration</button>
              <i class="fas fa-check-circle" id="calib-tick"></i>
            </div>
          </div>
        </div>

        <!-- Form -->
        <div class="form-container" id="form-container">
          <h3>Calcluated Pose of the Camera</h3>

          <form class="form" id="form">
            <div class="flexbox">
              <div class="form-section">
                <h4 class="form-section-text">About the Camera:</h4>
                <table>
                  <tr>
                    <td>
                      <label for="height">Height of Camera</label>
                    </td>
                    <td>
                      <input type="text" id="height" name="height" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="distance">Distance from Marker</label>
                    </td>
                    <td>
                      <input type="text" id="distance" name="distance" />
                    </td>
                  </tr>
                </table>
              </div>

              <div class="form-section">
                <h4 class="form-section-text">Orientation of the Camera:</h4>
                <table>
                  <tr>
                    <td>
                      <label for="yaw">Yaw</label>
                    </td>
                    <td><input type="text" id="yaw" name="yaw" /></td>
                  </tr>
                  <tr>
                    <td>
                      <label for="pitch">Pitch</label>
                    </td>
                    <td>
                      <input type="text" id="pitch" name="pitch" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="roll">Roll</label>
                    </td>
                    <td>
                      <input type="text" id="roll" name="roll" />
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </form>
          <div class="button-container">
            <button class="button pose-edit" id="pose-edit">Edit</button>
            <button class="button pose-submit" id="pose-confirm">
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- <script
    type="text/javascript"
    src="{{ url_for('static', filename='calibrate.js') }}"
  ></script> -->
  <!-- to work without server -->
  <script type="text/javascript" src="../static/calibrate.js"></script>
</html>
