<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credits</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='credits.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <!-- For css without server -->
    <!-- <link rel="stylesheet" href="../static/credits.css" /> -->
  </head>
  <body>
    <header>
      <h1>Our Team</h1>
    </header>

    <div id="lead" class="flex">
      <div class="card">
        <img src="../static/img/rishabh.jpg" alt="" />
        <div>
          <h3>Rishabh Singh</h3>
          <p class="color-box-lead">Team Lead</p>
          <a href="https://www.rishabh-singh.in" target="_blank"
            >www.rishabh-singh.in</a
          >
        </div>
      </div>
      <div class="card">
        <img src="../static/img/avatar.jpg" alt="" />
        <div>
          <h3>Shreyansh Darshan</h3>
          <p class="color-box-lead">Project Lead</p>
        </div>
      </div>
    </div>

    <div id="team" class="grid">
      <div class="card">
        <img src="../static/img/shrinivas.jpeg" alt="" />
        <div>
          <h3>Shrinivas Khiste</h3>
          <p class="color-box-ui">UI Dev</p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/sakshi.jpeg" alt="" />
        <div>
          <h3>Sakshi Dwivedi</h3>
          <p class="color-box-ui">UI Dev</p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/aryan.jpg" alt="" />
        <div>
          <h3>Aryan Mehta</h3>
          <p class="color-box-perc">Perception</p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/karan.jpg" alt="" />
        <div>
          <h3>Karan Uppal</h3>
          <p class="color-box-perc">Perception</p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/nishant.jpg" alt="" />
        <div>
          <h3>Nishant Goyal</h3>
          <p class="color-box-perc">Perception</p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/vinit.jpg" alt="" />
        <div>
          <h3>Vinit Raj</h3>
          <p class="color-box-perc">Perception</p>
        </div>
      </div>
    </div>

    <div id="mentors">
      <h2>Project Mentors</h2>
      <div class="flex">
        <div class="card">
          <img src="../static/img/avatar.jpg" alt="" />
          <div>
            <h3>Prof. Debasis Chakravarti</h3>
            <p class="color-box-mentor">Project Mentor</p>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/avatar.jpg" alt="" />
          <div>
            <h3>Prof. Aditya Bandyopadhyay</h3>
            <p class="color-box-mentor">Project Mentor</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <h3>Team AGV, IIT Kharagpur</h3>
    </footer>
  </body>
</html>
